.input-look {
    background-color : white;
    border : 1px thick black !important;
}

.container {
    
    padding : 15px;
    background-color : #F7F7F7;
}

.ion-item {
    background-color : wheat;
}
