<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dissMiss()">
        <ion-icon name="close" *ngIf="!platform.is('ios')"></ion-icon>
        <ion-label *ngIf="platform.is('ios')">Close</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title>More Options</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="styled">
  <div class="container">
    <h3>Size (required) </h3>
      <ion-item lines="none" class="input-look" *ngFor="let entry of sizes">
      <ion-checkbox slot="start"  (click)="checkedSize(entry)" [checked]="entry.isChecked" [(ngModel)]="entry.isChecked"></ion-checkbox>
      <label>{{entry.val}}</label>
      <label slot="end" *ngIf="entry.extra > 0">{{entry.extra}}</label>

    </ion-item>
    <div *ngIf="ismeal">
    <h3>Meal Drink (required) </h3>
      <ion-item lines="none" class="input-look" *ngFor="let drink of drinks;">
      <ion-checkbox slot="start" (click)="add(drink)"></ion-checkbox>
      <label>{{drink.name}}</label>
    </ion-item>
    
  </div>
    <ion-button (click)="onSubmit()" [disabled]="this.Size == null || (this.ismeal && this.selectedDrinks.length == 0)">Submit</ion-button>
  </div>

</ion-content>
